body{
	background-color: white;
}

.content{
	background: #fbfbfb;
    border-radius: 15px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 880px;
    margin: 6rem auto 8.1rem auto;
    width: 800px;
    position: relative;
}



h1{
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
	color: white;
}

.heading{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #6A5ACD;
}

.data{
	padding: 30px;

}


label{
	font-family: sans-serif;
}

input{
	padding-top: 12px;
	padding-bottom: 5px;
	background: #fbfbfb;
	border: none;
	outline: none;
}

.underline{
	background: #6A5ACD;
	height: 2px;
	width: 100%;
}
